#banner {
    background-color: maroon;
    color: white;
    text-align: center;
}

body {
    color: white;
}

hr {
    background-color: white;
}

/*--.navbar {
    border: solid 1px white;
}--*/


.fa-dragon {
    font-size: 120%;
    color: red;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.4);
}

#iconic {
    font-size: 40px;
    color: red;
}

.breadcrumb {
    background-color: rgba(0,0,0,0.2)
}

.jerky {
    border: solid 1px white;
}

.bg-shadow {
    background-color: rgba(255,255,253,0.4)
}

/*--.site-footer {
    background-color: rgba(255,255,254,0.1)
}--*/

.socials {
    color: maroon;
    background-color: blue;
    z-index: 100;
}