#banner {
    background-color: maroon;
    color: white;
    text-align: center;
    font-size: 14px;
}

body {
    color: white;
}

h1, h2, h3, h4, h5, #iconicText {
    font-family: 'Aladin', cursive;
}

hr {
    background-color: white;
}

/*--.navbar {
    background-color: rgba(255,255,253,0.4);
}
--*/

.navbar {
    background-color: rgba(0,0,0,0.01);
}


.navbar:hover{
    background-color: #343a40;
    color: white;
    transition: 1s;
}

#firstCard {
    background-color: rgb(128, 17, 0);
}

#secondCard {
    background-color: #D73502;
}

#thirdCard {
    background-color: #FAC000;
}

#fourthCard {
    background-color: #FF7500;
}

.fa-dragon {
    font-size: 120%;
    color: red;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.4);
}

#iconic {
    font-size: 40px;
    color: red;
}

#iconicText {
    font-size: 24px;
    color: white;
}

#iconic:link {
    color: red;
}

a:hover {
    color: yellow;
}

a:visited{
    color: yellow;
}

a {
    color:red;
}

.breadcrumb {
    background-color: rgba(0,0,0,0.2)
}

.jerky {
    border: solid 1px white;
}

.bg-shadow {
    background-color: rgba(255,255,253,0.4);
}

/*--.site-footer {
    background-color: rgba(255,255,254,0.1);
}--*/

.socials {
    color: maroon;
    background-color: blue;
    z-index: 100;
}

img {
    border: solid 1px white;
}

.dropdown-menu {
    background-color: rgba(52, 58, 64,0.7);
}